throttle.global_down.max_rate.set_kb = 20000
throttle.global_up.max_rate.set_kb = 5000

throttle.max_uploads.set = 10
throttle.max_uploads.global.set = 25
throttle.max_downloads.global.set = 250

directory.default.set = ~/Downloads
